
html{
  font-size: 80%;
}

body{
  font-family:'Fredoka One', cursive;
  font-family: 'Space Mono', monospace;
}
h3 {
  background-color: #d3d3d3;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
}
p{
  font-size: 20px;
}

.lead{
  width: 20%;
  /* top: 250%;
  left: 240%; */
  overflow: hidden;
  animation: animate 2s linear forwards ;
  margin-top: 6%;
  font-weight: bold;
}

.geeks h1 {
    color: white;
}

@keyframes animate {
    0% {
        width: 0%;
        height: 0px;
    }
    30% {
        width: 20%;
        height: 0px;
    }
    60% {
        width: 70%;
        /* height: 80px; */
    }
    100% {
        width: 100%;
        /* height: 80px; */
    }
}


.label,
.create,
.delete {
  width: 100%;
}

.jumbotron {
  text-align: center;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url(images/daily-planner-thestreet.jpeg);
  background-attachment: static;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  color: white;
  border-radius: 0;
  border-bottom: 10px solid black;
 
}

.todos {
  border-top: 1px solid white;
}

.datePicker,
.timeBlock {
  border-radius: 5px;
}


#dayEarlier,
#dayPicked,
#dayLater {
  font-size: 2em;
  font-weight: bold;
  align-items: center;
  border-radius: 50px;

}
#dayEarlier,
#dayLater {
  font-weight: bold;
}

.btn-primary{
  font-weight: bold;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  /* font-size: 60px; */
  font-size: 150%;
  font-size: 4rem;
}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  display: inline-block;
  color: white;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0%);
  }
  20% {
    transform: translateY(-40%);
  }
}

@media (max-width: 800px) {

  html {
      font-size: 60%;
  }
}
@media (max-width: 600px) {

  html {
      font-size: 40%;
  }
}
@media (max-width: 380px) {

  html {
      font-size: 30%;
  }
}

@media only screen and (min-width: 200px) and (max-width: 430px) {
  .display-3 {
    font-size: 3rem;
  }

  .lead {
    font-size: 1rem;
  }

  #dayEarlier,
  #dayPicked,
  #dayLater {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  h3{
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  h3{
    font-size: 1rem;
  }
  .hour{
    margin: 0;
  }
  .hourdiv{
    padding: 0;
  }
}
